---
import '@css/index.css'
import Header from '@components/modules/function/F1-Header.astro'
import Footer from '@components/modules/function/F2-Footer.astro'

export interface Props {
	language: "default" | "de"
	langSwitch: any
	meta?: {
    metaTitle?: string;
    metaDescription?: string;
    metaImage?: string;
  };
}

const { language, langSwitch,  meta } = Astro.props
const canonical = `${Astro.url.origin}${Astro.url.pathname}`
---

<!doctype html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={canonical} /> 
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="msapplication-config" content="/favicon/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />-->

		<meta name="generator" content={Astro.generator} />
		<title>{meta?.metaTitle}</title>
		<meta name="description" content={meta?.metaDescription} />
		<meta name="og:title" content={meta?.metaTitle} />
		<meta name="og:description" content={meta?.metaDescription} />
		<!-- <meta name="og:image" content={!!meta?.metaImage ? meta.metaImage : '/images/ogImage.png'} /> -->
	</head>

	<body>
		<Header langSwitch={langSwitch} language={language}/> 
		<main class="relative">
			<slot />
		</main>
		<Footer langSwitch={langSwitch} language={language}/>
		<style>
			:root {
				--currentViewport: 'small';

				@media (--medium-viewport) {
					--currentViewport: 'medium';
				}

				@media (--large-viewport) {
					--currentViewport: 'large';
				}
			}
		</style>
	</body>
</html>
