---
import EmblaCarousel from 'embla-carousel'
import type {
  AssetStoryblok,
  IComponentDefaults,
  LinktStoryblok,
} from "@system/utils/types";

export interface ItemProps {
  headline: string;
  link: LinktStoryblok;
  image: AssetStoryblok;
}

export interface TeaserOverviewProps extends IComponentDefaults {
  headline: string;
  items: ItemProps[];
}

export interface Props {
  blok: TeaserOverviewProps;
}

const { blok } = Astro.props;
const { headline, items } = blok;

/* const emblaNode = document.querySelector('.embla') as HTMLElement;
const options = { loop: false };
const emblaApi = EmblaCarousel(emblaNode, options);

console.log(emblaApi.slideNodes()) // Access API */
---

<section
  aria-label="Project Overview Teaser"
  class="t2-overview col-span-4 md-col-span-2 lg-col-span-6"
  id={blok._uid}
>
<h3 class="headline">{headline}</h3>
<p>Coming Soon!</p>
  <!-- 
  <div class="items"> 
     {
      items.map((item) => (
        <div class="item">
          <a href={item.link.url.length ? item.link.url : item.link.cached_url}>
            <img src={item.image.filename} alt={item.image.alt} />
            <h3>{item.headline}</h3>
          </a>
        </div>
      ))
    } 
      
     <div class="embla">
      <div class="embla__container">
        <div class="embla__slide">Slide 1</div>
        <div class="embla__slide">Slide 2</div>
        <div class="embla__slide">Slide 3</div>
      </div>
    </div>
  </div> -->
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
    gap: 24px;
    background-color: var(--color-neutral-stonegrey);

    .light-theme {
      background-color: var(--color-neutral-white);
    }
  }
</style>
