---
import { Image } from "astro:assets";

export interface IconButtonProps {
    icon?: BASIC.AssetStoryblok;
    social?: "linkedin" | "github"
    variant?: "primary" | "secondary";
    href?: BASIC.LinkProps;
    target?: string;
    size?: number;
}

const { icon, variant = "primary", href, social, target, size = 24 } = Astro.props

console.log("Props", Astro.props)
---

<a class:list={[variant]} type="button" href={href.url} target={target}>
    <svg name={social} height={size} width={size} />
    {icon.filename &&  <Image src={icon.filename} alt={icon.alt || ''} height={size} width={size} />}
</a>

<style>
    a {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        color: var(--background);
        background-color: var(--background);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-weight: bold;
    }

    img {
        width: 32px;
        height: 32px;
    }

    .primary {
        background-color: var(--color-white);

        svg {
            fill
        }

        &:hover {
            cursor: pointer;
            background-color: var(--color-neutral-stonewhite);
        }
    }

    .secondary {
        border: 2px solid var(--color-white);
        color: var(--color-white);

        &:hover {
            cursor: pointer;
            border-color: var(--color-neutral-stonewhite);
            color: var(--color-neutral-stonewhite);
        }
    }
</style>