---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'

export interface IconButtonProps {
    icon?: BASIC.AssetStoryblok;
    social?: "linkedin" | "github"
    variant?: "primary" | "secondary";
    href?: BASIC.LinkProps;
    target?: string;
    size?: number;
}

const { icon, variant = "primary", href, social, target, size = 24 } = Astro.props
---

<a class:list={[variant]} type="button" href={href.url} target={target}>
    {social && <Icon name={social} height={size} width={size} />}
    {icon.filename &&  <Image src={icon.filename} alt={icon.alt || ''} height={size} width={size} />}
</a>

<style>
    a {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        color: var(--icon-color);
        background-color: var(--accent-color);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease-in-out;

        &:hover {
            filter: var(--hover);
        }
    }

    p {
        font-weight: bold;
    }

    img {
        width: 32px;
        height: 32px;
    }

    .secondary {
        border: 2px solid var(--icon-color);
        color: var(--icon-color);

        &:hover {
            cursor: pointer;
            filter: var(--hover);
        }
    }
</style>